.title {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #2A77AE;
  margin: auto;
  z-index: 100;
  background: snow;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}
